$primary-color: #2a3f92;
$secondary-color: #4daa90;
$text-color: #455167;
$background-color: #f1f9fc;
$header-background-color: #fff;
$link-color: #3498db;
$link-hover-color: darken($link-color, 10%);
$primary-color-dark : darken($primary-color, 20%);
$yellow-color : #FBB929; 

