@import './vars.scss';

@font-face {
  font-family: 'avenir';
  src: url('../assets/fonts/Avenir.ttc') format('truetype-collection');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('/src/assets/fonts/gotham_book.otf') format("opentype");
  ;
}

@font-face {
  font-family: 'stem';
  src: url('/src/assets/fonts/stem_medium.otf') format("opentype");
}

* {
  margin: 0;
  padding: 0;

}

body {
  background-color: $background-color;
  font-size: 10;
  color: $text-color;
  font-family: 'gotham', sans-serif;
  line-height: 22px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'stem', sans-serif;
    color: #293683;
    letter-spacing: 1.2;
  }

  a {
    color: $primary-color;
    text-decoration: none;

  }

  button {
    border-radius: 12px;
  }

  img {
    border-radius: 15px;
  }

  .section-padding {
    padding: 25px auto;
  }



  .align-items-center {
    align-items: center;

  }

  section {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    margin: auto;
    min-height: 500px;
  }

  .text-primary {
    color: $primary-color !important;
  }

  .text-yellow {
    color: $yellow-color;
  }
  label {
    color: $primary-color-dark;
    font-size: 14px;
  }

  .custom-input {
    background-color: #f8f9fa;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .custom-input:focus {
    background-color: #e9ecef;
    border: none;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .text-green {
    color: $secondary-color;
  }

  .bg-dark-primary {
    background-color: $primary-color-dark !important;
  }
}


.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 8px;
  height: 90vh;
}

.header-image {
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 97%;
  object-fit: cover;
  object-position: center;
  top: 100px;

}




.main-buttons {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
  margin: 66px 0 45px;
  justify-content: center;
}

.contact-button,
.services-button {

  // border-radius: 10px;
  justify-content: center;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  color: #fff;


}

.contact-button::after,
.services-button::after {
  content: '→';
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
  transition: margin-left 0.3s, transform 0.3s;

}

.contact-button:hover::after,
.services-button:hover::after {
  margin-left: 15px;
  transform: scaleX(2);
}

.contact-button {
  background-color: #293683;
}

.services-button {
  background-color: #5b9a78;
}

#breifSection {
  max-height: 600px;
}


footer {
  background-color: $primary-color-dark ;

}


// CAROUSEL

@media (max-width: 991px) {
  .navigation {
    flex-wrap: wrap;
    padding-right: 20px;
  }

  .main-section {
    margin-top: 40px;
    padding: 0 20px;
  }

  .main-description {
    margin-top: 40px;
  }

  .main-buttons {
    margin: 40px 0;
  }

  .contact-button,
  .services-button {
    padding: 10px 20px;
  }
}

// Cursour styling 

    /* ====================== [ Start Cursor Style ] ====================== */
    .mouse-cursor {
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none;
      border-radius: 50%;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      visibility: hidden;
    }
    
    .cursor-inner {
      width: 6px;
      height: 6px;
      z-index: 10000001;
      background-color: #12c2e9;
      -webkit-transition: width .3s ease-in-out,
     height .3s ease-in-out,
     margin .3s ease-in-out,
     opacity .3s ease-in-out;
      -o-transition: width .3s ease-in-out,
     height .3s ease-in-out,
     margin .3s ease-in-out,
     opacity .3s ease-in-out;
      transition: width .3s ease-in-out,
     height .3s ease-in-out,
     margin .3s ease-in-out,
     opacity .3s ease-in-out;
    }
    
    .cursor-inner.cursor-hover {
      margin-left: -35px;
      margin-top: -35px;
      width: 70px;
      height: 70px;
      background-color: #12c2e9;
      opacity: .3;
    }
    
    .cursor-outer {
      margin-left: -12px;
      margin-top: -12px;
      width: 30px;
      height: 30px;
      border: 1px solid #12c2e9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 10000000;
      opacity: .5;
      -webkit-transition: all .08s ease-out;
      -o-transition: all .08s ease-out;
      transition: all .08s ease-out;
    }
    
    .cursor-outer.cursor-hover {
      opacity: 0;
    }
    


    // FOOTER STYLE 

.footer {
  background-color: $primary-color-dark;
  color: #fff;

  .footer-logo {
    width: auto;
    height: 150px; /* Adjust as needed */
    max-width: 100%;
    margin-bottom: 1rem;
    aspect-ratio: 1.5;

    @media (max-width: 768px) {
      height: 80px; /* Adjust as needed */
    }
  }

  h5 {
    color: $secondary-color;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-color; /* Highlight color on hover */
    }
  }

  .footer-icon {
    font-size: 1.5rem;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-color; /* Highlight color on hover */
    }
  }

  .copyright {
    text-align: center;

  }
}

//  Connatct page 
#ContactPage{
  background-color: #fff;
  width: 95%;
  margin : 20px auto ; 
  padding-top: 25px  ;
  padding-bottom: 25px  ;
  border-radius: 15px;
  .container {
      width: 95%;

  }
}


//Service Page
#ServicesPage {
  background-color: #fff ;
  width: 95%;
  margin : 20px auto ; 
  border-radius: 15px;
  .container {
      width: 95%;
  }

.card {
  background-color:#fff;
}

}