@import './vars.scss';

#briefSection {
    height: auto;
    padding: 2rem 0;
    background-image: url('src/assets/lopattern.png');
    background-repeat: repeat;
    background-position: right;
    background-size: cover;
  
    .container {
      height: 100%;
    }
  
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  
    #briefText {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      border-radius: 12px;
      padding: 30px 20px;
      // background-image: url('src/assets/lopattern.png');
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
    }
  
    .text-yellow {
      color: $yellow-color;
    }
  
    .text-green {
      color: $secondary-color;
    }
 
  
    @media (max-width: 768px) {
      #briefText {
        padding: 20px;
      }
  
    }
  
    @media (max-width: 600px) {
      #briefText {
        padding: 20px;
      }
  
      img {
        display: none;
      }
    }
  }
