
@import './vars.scss';

.nav-logo {
    width:250px;
    height: auto;
    /* Adjust size as needed */
  }
  
nav {
  position: relative;
  top: 0; 
  left: 0;

}

.navbar {
  box-sizing: content-box;
  height: 90px; 
  padding: 10px;
  flex-wrap: nowrap;
  transition: top 0.5s, background-color 0.5s, width 0.5s; /* Smooth transitions for top, background-color, and width */
  text-transform: uppercase;
}

.sticky {
  position: fixed;
  top: 1%;
  left: 50%;
  border-radius: 15px;
  transform: translateX(-50%);
  background-color: $background-color;
  width: 95%; /* Adjust width as needed */
  z-index: 1000; /* Ensure navbar is on top of other content */
  transition: top 0.5s, background-color 0.5s, width 0.5s , z-inde 0.5s; /* Smooth transitions for top, background-color, and width */
}

  
  .nav-link {

    font-size: 18px;
    font-weight: 600;
    color: $primary-color;
    margin: 0 10px;
    transition: color 0.3s;
  
  }
  
  .nav-link:hover {
    color: #5b9a78;
    border-bottom: 2px solid #5b9a78;
  }
  
  .navbar-nav .nav-link.active {
    color: #fff;
    background-color: $secondary-color;
    padding: 10px 20px;
    border-radius: 10px;
  }
  

  

.offcanvas {
    background-color: $background-color  ;
    text-align: center;
  
    .nav-link {
      color: $primary-color;
      font-weight: 600;
      margin: 20px auto;
      a {
        color : $primary-color;
      }
    }
  
    .offcanvas-body .nav-link {
      margin: 10px 0;
    }
  
    .contact-info {
      text-align: center;
    }
  
    tn-close {
      color: #fff !important;
    }
  }


  @media (max-width:768px) {
    .nav-bar {
      height: 110px;
      align-items: center !important;
    }
    .container {
      max-width: 650px !important;
    }
    .nav-logo{
      width: 200px;
      aspect-ratio: 1.3;
      

    }
  }
  
  
